.footer	{
	max-width: 80%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 100px;
	margin-top: 4rem;
	place-items: center;
	&__b2t {
		background: #ededed;
		height: 200px;
		width: 200px;
		border-radius: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		// padding: 2rem;
		svg {
			font-size: 150px;
			color: $accent-orange;
		}
	}
	&__contact {
		h3 {
			font-size: 36px;
			margin-bottom: 1.5rem;
		}
		h6 {
			font-size: 14px;
			font-weight: 600;
		}
		a {
			margin-top: 0.5rem;
			color: #000;
			text-decoration: none;
			&:visited {
				color: #000;
			}
		}
	}
	&__socials {
		grid-area: 2/2;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		display: none;
	}
}